body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: url('img/10.jpeg') center/cover no-repeat; */
    background:
    url('clouds.jpg')
    center / cover no-repeat fixed;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#app-container {
    /* background-color: rgba(255, 255, 255, 0.95); */
    background-color: rgba(255, 255, 255, 0.45);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

label {
    font-size: 20px;
    margin-bottom: 20px;
}

input, select {
    font-size: 18px;
    width: 80%;
    padding: 14px;
    /* margin-bottom: 25px;
    margin-right: 20px; */
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.326);
    backdrop-filter: blur(10px);
}

button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgb(105, 147, 209);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
  button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
#result-container {
    margin-top: 30px;
}